/*
Author: Jhonny Vasquez
Date:   11/18/2020
Notes:  Personal website

This CSS page styles my personal webpage.
*/


		.section{
		min-height:1000px;
		overflow:hidden;
		position:relative;
		padding:200px 10px 0px;
		
		}
		
